.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
body {
  margin: 0;
}
.site-header {
 	background: #54B948
 }

.site-header h1 {
	color: #e8dbd3;
	margin: 10px;
	padding: 1px;
	text-transform: uppercase;
	font-size: 25px;
  margin-left: 25%;
  margin-top: 2.99%;

}
.site-header nav {
  color: #e8dbd3;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 15px;

}
.site-header img {
    color: #e8dbd3;
  margin: 10px;
  padding: 20px;
  float: left;
}
.main-menu	{
float: right;
margin: 0px;
margin-right: 10px;
font-weight: bold;
text-transform: uppercase;
word-spacing: 10px;
}
.main-menu2 {
  word-spacing: 1px;
}

.main-menu ul {
padding: 0;
margin: 25;
}
.main-menu ul li {
	list-style: none;
	display: inline;
}
.main-menu ul li a{
text-decoration: none;
color: white;

}
.main-menu ul li a:hover {
	color: #f05f40
	cursor: pointer;
}

.main-part {
	margin: 0;
	padding: 30px;
}

 {box-sizing: border-box; margin: 0;}

.widget {
  padding: 20px 30px;
  background: white;
  font-family: 'Roboto', sans-serif;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #b99d61;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
  content: "\2014";
  margin-right: 14px;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}

#footer{
	text-align: center;
	background: #54B948;
	margin: auto;	
	height: auto;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}
#footer,
#footer a {
color: white;
text-decoration: none;
}
#footer div {
  margin-left: 20px;
}
.social {
list-style: none;
display: inline-block;
text-align: center;
}
.social li {
margin-right: 20px;
}

.col-main {

	padding: 30px 5%;
}
.col-main2 {
	float: center;
	padding: 10px 5%;

}

.infosite {
	text-align: center;
	background: white;
}
.social {
list-style: none;
display: inline-block;
}
.social li {
margin-right: 20px;
}
.thumb img  {
    
    padding: 5px 5px;/* Расстояние от картинки до рамки */
    margin-right: 10px; /* Отступ справа */
    margin-left: 10px;
   }
   .uups {
    overflow: hidden;
      display: flex;
      flex-direction: column;

   }
